<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coreyharveyproject">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.CoreyHarveyProject">

        <!-- LoginActivity as the launcher activity -->
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activity declarations -->
        <activity android:name=".RegisterActivity" android:exported="true" />
        <activity android:name=".MainActivity" android:exported="true" />
        <activity android:name=".InventoryActivity" android:exported="true" />
        <activity android:name=".SmsPermissionActivity" android:exported="true" />

    </application>
</manifest>